<html>
	<head>
		<title>Multiply Numbers (AJAX)</title>
		
		<script
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
			type="text/javascript">
		</script>
		
		<style type="text/css">
		form{
			margin-left: 40%;
		}
		td.label {
			text-align: right;
			font-weight: bold;
		}
		
		.error {
			color: red;
		}
		</style>
		
		<script type="text/javascript">
			$(document).ready(function() {
				$("#MultiplyNumbersButton").click(function() {
					$.ajax({
						type: 'POST',
						dataType: 'text',
						url: '/fdiaz/ajax/MultiplyNumbers',
						data: { first: $("#firstNumberElt").val(), second: $("#secondNumberElt").val(), third: $("thirdNumberElt").val() },
						success:
							function(data, textStatus, jqXHR) {
								$("#resultElt").text(data);
							},
						error:
							function(jqXHR, textStatus, errorThrown) {
								$("#errorElt").text(textStatus + ": " + errorThrown);
							},
						
					});
				});
			});
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		
	</head>

	<body>
		<div ng-app="">
		<table>
			<tr>
				<td class="label">First number:</td>
				<td><input id="firstNumberElt" type="number" size="12" ng-model="fst" placeholder="Enter first number here"/></td>
			</tr>
			<tr>
				<td class="label">Second number:</td>
				<td><input id="secondNumberElt" type="number" size="12" ng-model="sec" placeholder="Enter second number here"/></td>
			</tr>
			<tr>
				<td class="label">Third number:</td>
				<td><input id="thirdNumberElt" type="number" size="12" ng-model="thr" placeholder="Enter third number here"/></td>
			</tr>
			<tr>
				<td class="label">Result: {{fst + sec + thr}}</td>
				<td><span id="resultElt"></span></td>
			</tr>
		</table>
		//Removed Button
		</div>
		
		<div>
			<span id="errorElt" class="error"></span>
		</div>
	</body>
</html>